@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: #1f1f1f;
}
.main-bg {
  background: rgb(28, 35, 58) url("/backgrounds/download.jpg");
  background-size: 100%;
}

.mode-bg {
  background: #ffffff;
  background-size: 100%;
}

.perspective-1000 {
  perspective: 1000px;
}
